<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/mycss.css"/>
</head>
<body>
<div class="pg-header">
    <nav class="navbar navbar-inverse navbar-static-top" style="border-radius: 0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="pg-content">
    <div class="menu">
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">用户管理</a></li>
            <li role="presentation" style="display: none"><a href="#">组管理</a></li>
            <li role="presentation" style="display: none"><a href="#">用户管理</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第二组</a></li>
            <li role="presentation" style="display: none"><a href="https://baidu.com" target="_blank">百度</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第三组</a></li>
            <li role="presentation" style="display: none"><a href="#">1号</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第四组</a></li>
            <li role="presentation" style="display: none"><a href="#">1号</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第五组</a></li>
            <li role="presentation" style="display: none"><a href="#">1号</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第六组</a></li>
            <li role="presentation" style="display: none"><a href="#">1号</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第七组</a></li>
            <li role="presentation" style="display: none"><a href="#">1号</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
        <ul class="nav nav-btn nav-stacked nav-pills-stacked-example">
            <li role="presentation" class="m"><a href="#">第八组</a></li>
            <li role="presentation" style="display: none"><a href="#">1号</a></li>
            <li role="presentation" style="display: none"><a href="#">2号</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="left-30">
            <div class="left-30">
                <h1 style="width: 95%; margin: 0 auto; padding-top: 20px;">用户组管理</h1><br/>
                <div style="width: 500px">
                    <div class="table-responsive " style="width: 95%; margin: 0 auto;">
                        <table class="table table-hover table-bordered">
                            <tr class="bg">
                                <th>序号</th>
                                <th>组名</th>
                                <th>成员</th>
                                <th>操作</th>
                            </tr>
                            {% for item in obj_Group %}
                                <tr class="btn-group-sm">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.users.name }}</td>
                                    <td>
                                        <button>添加</button>
                                        <button>修改</button>
                                        <button>删除</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="width: 95%; margin: 0 auto; padding-top: 20px;">用户管理</h1><br/>
        <div>
            <div class="table-responsive " style="width: 95%; margin: 0 auto;">
                <table class="table table-hover table-bordered">
                    <tr class="bg">
                        <th>序号</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>手机</th>
                        <th>电话</th>
                        <th>管理员</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    {% for item in obj_UserProfile %}
                        <tr class="btn-group-sm">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.mobile }}</td>
                            <td>{{ item.phone }}</td>
                            {% for row in obj_AdminInfo %}
                                <td>{{ row.username }}</td>
                                <td>{{ row.password }}</td>
                            {% endfor %}
                            <td>
                                <button>添加</button>
                                <button>修改</button>
                                <button>删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div></div>

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
<script>
    $(".m").click(function () {
        var t = $(this).nextAll();
        if (t.is(":hidden")) {
            t.show();
            t.addClass("color")
        } else {
            t.hide();
        }
    });

</script>

</body>
</html>
